<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{this.data.name}}</h1>
        <p class="text-white mt-0 mb-5">Hola, esta es tu pagina de usuario, donde puedes ver tu información más a detalle y poder editarla si es necesario.</p>
        <button href="#!" class="btn btn-info" (click)="this.openModal($event)"> Editar perfil</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{this.data.name}}<span class="font-weight-light">, {{this.data.age}}</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{this.data.city}}, {{this.data.country}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{this.data.staff}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{this.data.company}}
            </div>
            <hr class="my-4" />
            <p> {{this.data.userInformation}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi Cuenta</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Información del Usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nombre de Usuario</label>
                    <input type="text" [value]="this.data.username" disabled id="input-username" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Dirección electronica</label>
                    <input type="email" id="input-email" [value]="this.data.email" class="form-control form-control-alternative" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nombre(s)</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" disabled [value]="this.data.name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Apellidos</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" disabled [value]="this.data.lastName">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Información de Contacto</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Dirección</label>
                    <input id="input-address" class="form-control form-control-alternative" disabled [value]="this.data.address" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Ciudad</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" disabled [value]="this.data.city" >
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Pais</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" disabled [value]="this.data.country">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Codigo Postal</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" disabled [value]="this.data.postalCode">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Sobre mi</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>Algo sobre mi</label>
                <textarea rows="4" class="form-control form-control-alternative" disabled [value]="this.data.aboutMe"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal reactive programming-->
<ng-container *ngIf="modalDisplay$ | async as modalDisplay;" data-bs-spy="scroll">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':modalDisplay}">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-body p-0">
                  <div class="card p-3">
                      <div class="card-header bg-white">
                          <div class="d-flex justify-content-between">
                              <strong class="aling-self-center">Editar Información del Perfil</strong>
                              <div class="text-end">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                      (click)="closeModalMethod()">
                                  </button>
                              </div>
                          </div>
                      </div>
                      <ng-container *ngIf="selected$ | async as selected">
                        <app-modal-profile [modal]="selected" (closeModal)="closeModalMethod()" (reload)="onReload()"></app-modal-profile>
                      </ng-container>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-container>
